.Btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 10px;
}

.Btn:hover{
    color: whitesmoke;
    text-decoration: none;
}

.BtnDrop {
    text-decoration: none;
    color: black;
}


#root > div > nav > div > div > div > div{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-decoration: none;
}

