.cardContainer {
  margin: 20px;
}

.cardAmount {
  font-size: large;
}

.cardTotal {
  font-size: large;
}

.trashButton {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 540px) {
  .cardContainer {
    text-align: -webkit-center;
  }
}
