@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,200;1,700&display=swap');


* {
  font-family:'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,700;1,200;1,700&display=swap';
}

.App {
  text-align: center;
}

.App-logo {
  width: auto;
  height: 30px;
  pointer-events: none;
}

.CartLogo {
  margin-right: 10px;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* CARD */

.card-text{
    text-align: initial;
    padding-left: 20px;
}





/*
Media-Query
*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}