.btn {
  padding: 2px;
  height: fit-content;
}

.ButtonAdd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 36px;
  margin-top: 7px;
}

.Decrement {
  width: 16px;
}

.card-text {
  padding-left: 0;
}
